<div class="flex justify-content-center align-items-center h-full">
    <div class="grid">
        <div class="col-6 p-5">
            <div class="shadow-4 border-round-2xl p-5 surface-50">
                <form  class="flex flex-column">
                    <span class="text-center font-bold text-3xl mb-5">
                        Correo de Usuario
                    </span>
                    <div class="grid">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-at"></i>
                            </p-inputGroupAddon>
                            <input id="email" pInputText placeholder="nick@example.com" formControlName="email"/>
                        </p-inputGroup>
                    </div>
                    <div class="flex justify-content-center mt-5">
                        <p-button
                            icon="pi pi-search"
                            severity="info"
                            label="Buscar"
                        />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 p-5">
            <div class="shadow-4 border-round-2xl p-5 surface-50">
                <form  class="flex flex-column">
                    <span class="text-center font-bold text-3xl mb-5">
                        Datos de Cuenta
                    </span>
                    <div class="grid">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-at"></i>
                            </p-inputGroupAddon>
                            <input id="email" pInputText placeholder="nick@example.com" formControlName="email"/>
                        </p-inputGroup>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  