<div class="grid">
    @for (account of frozen; track $index) {
        <div class="col-12 md:col-6 p-2">
            <div class="flex flex-column w-full border-round-2xl shadow-5 p-5 surface-50 ">
                <span class="text-lg">
                    <span class="font-bold">Numero de Cuenta:</span>
                    {{ account.account_number }}
                </span>
                <span class="text-lg">
                    <span class="font-bold">Cuenta:</span>
                    {{ account.account_address }}
                </span>
                <span class="text-lg mb-3">
                    <span class="font-bold">Propietario:</span>
                    {{ account.user?.first_name }} {{ account.user?.last_name }}
                </span>
                <span class="text-lg">
                    <span class="font-bold">Tipo de Cuenta:</span>
                    {{ account.account_type.name }}
                </span>
                <span class="text-lg mb-3">
                    <span class="font-bold">Fondos:</span>
                    {{ account.funds | currency: account.account_type.currency.name }}
                </span>
                <span class="text-lg">
                    <span class="font-bold">Creada:</span>
                    {{ account.createdAt | date:'dd/MM/YYYY' }}
                </span>
            </div>
        </div>
    }
</div>
