<div class="grid">
    <div class="col-12 p-5">
        <form (ngSubmit)="searchTransactions()" class="grid align-items-center" [formGroup]="form">
            <div class="md:col-4 col-12 flex flex-column gap-2 mb-2">
                <label for="account">Cuenta</label>
                <p-dropdown [options]="accounts"
                    formControlName="account_id"
                    optionLabel="account_number"
                    optionValue="id"
                    placeholder="Selecciona una cuenta..."
                    id="account"
                />
            </div>
            <div class="md:col-4 col-12 flex flex-column gap-2 mb-2">
                <label for="rangeD">Rango de Fecha</label>
                <p-calendar
                    formControlName="range_dates"
                    selectionMode="range"
                    readonlyInput="true"
                    id="rangeD"
                />
            </div>
            <p-button
                class="md:col-4 col-12"
                icon="pi pi-search"
                severity="info"
                label="Buscar"
                type="sumbit"
            />
        </form>
    </div>
    @if (transactions.length !== 0) {
        <div class="col-6 p-5">
            <h1 class="text-center">Transacciones</h1>
            <div class="grid">
                @for ( transaction of transactions; track $index) {
                    <div class="md:col-6 col-12">
                        <div class="flex flex-column shadow-4 p-5 border-round-2xl">
                            <span class="text-lg text-left">
                                <span class="font-bold">
                                    Id:
                                </span>
                                {{ transaction.id }}
                            </span>
                            <span class="text-lg text-left mt-3">
                                <span class="font-bold">
                                    Monto:
                                </span>
                                {{ transaction.amount | currency:transaction.account.account_type.currency.name }}
                            </span>
                            <span class="text-lg text-left mt-4">
                                <span class="font-bold">
                                    Tipo:
                                </span>
                                {{ transaction.type === 'debit' ? 'Debito' : 'Credito' }}
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-6 p-5">
            <h1 class="text-center">Total por Tipo</h1>
            <div class="grid">
                @for ( total of totalByType; track $index) {
                    <div class="md:col-6 col-12">
                        <div class="flex flex-column shadow-4 p-5 border-round-2xl">
                            <span class="text-lg text-left">
                                <span class="font-bold">
                                    Id:
                                </span>
                                {{ total.type === 'debit' ? 'Debito' : 'Credito' | titlecase }}
                            </span>
                            <span class="text-lg text-left mt-3">
                                <span class="font-bold">
                                    Total:
                                </span>
                                {{ total.total }}
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>