<div class="background-container p-5 overflow-y-auto">
    <div class="flex justify-content-center align-items-center flex-column h-full">
        <span class="font-bold title text-white text-center" style="font-size: 75px;">Oops...</span>
        <span class="font-bold title text-white text-center" style="font-size: 50px;">Pagina no Encontrada</span>
        <div class="error-container">
            <span><span>4</span></span>
            <span>0</span>
            <span><span>4</span></span>
        </div>
    </div>
</div>
